/*Contact Section*/

.contact {
  padding: 80px 0px;
  background-color: #222222;
}

#load {
  height: 100vh;
  width: 100%;
  position: fixed;
  background: white url(/images/Spin-Preloader-1.gif) no-repeat center;
  z-index: 9999999;
}
.contact .content {
  -webkit-display: flex;
  display: flex;
}
.container {
  height: inherit;
}
.contact .content .box {
  flex: 0 0 50%;
  max-width: 50%;
  padding: 15px;
}

.contact .content .form input,
.contact .content .form textarea {
  height: 45px;
  width: 100%;
  padding: 6px 12px;
  margin-bottom: 25px;
  background-color: transparent;
  border: 1px solid #ffffff;
  font-family: "Open-sans", sans-serif;
  color: #ffffff;
}
.contact .content .form input:focus,
.contact .content .form textarea:focus {
  outline: auto;
}
.contact .content .form input::placeholder,
.contact .content .form textarea::placeholder {
  color: #ffffff;
}
.contact .content .form textarea {
  height: 100px;
}

.contact .content .form button {
  border: none;
  outline: none;
  box-shadow: none;
  height: 45px;
  padding: 0px 50px;
  border: 1px solid transparent;
  background-color: #c11325;
  color: #ffffff;
  font-size: 15px;
  transition: all 0.5s ease;
  cursor: pointer;
}
.contact .content .form button:hover {
  background-color: transparent;
  color: #ffffff;
  border-color: #ffffff;
}

.contact .content .text h2 {
  font-size: 30px;
  font-weight: 500;
  color: #ffd6da;
  padding: 0px 0px 20px;
}
.contact .content .text p {
  font-size: 18px;
  display: block;
  height: auto;
  line-height: 20px;
  color: #ffffff;
  margin: 0;
  padding: 0px 36px 30px;
  font-family: "Open-sans", sans-serif;
}
.contact .content .text .info{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contact .content .text .info ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.contact .content .text .info li {
  display: flex;
  margin-bottom: 15px;
  color: #ffffff;
  font-size: 15px;
  letter-spacing: 1px;
  font-family: "Open-Sans", sans-serif;
}
.contact .content .text .info li span {

  display: inline-block;
  left: 280px;
  top: 0px;

  font-size: 20px;
  margin-right:30px;
  color: white;
}
.contact .content .text .social {
  padding-top: 30px;
}
.contact .content .text .social a {
  height: 40px;
  width: 40px;
  line-height: 40px;
  text-align: center;
  background-color: purple;
  text-decoration: none;
  display: inline-block;
  margin-right: 10px;
  transition: all 0.5s ease;
  border: 1px solid transparent;
}

.contact .content .text .social a:hover {
  background-color: transparent;
  border-color: #ffffff;
}
#defaultCanvas0 {
  height: 100%;
}

.contact .content .text .social a span {
  color: #ffffff;
  font-size: 20px;
}

.contact .content .text .copy {
  border-top: 1px solid #333333;
  margin-top: 30px;
  padding-top: 20px;
  color: #c5c5c5;
  font-size: 15px;
}

.info li span {
  margin: 0 20px;
}
.contact .content .text p {
  padding: 0;
  margin: 40px 0;
}
/*Responsive*/

/*if screen width is less than or equal to 991px then*/
@media (max-width: 991px) {
  .home {
    background-position: center;
  }
  .classes .content {
    flex-wrap: wrap;
  }
  .classes .content .box {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .classes .content .img {
    display: none;
  }
  .start-today .content .box {
    padding: 15px;
  }
}
.info ul {
  display: flex;
  flex-direction: column;
  /* align-items: center;
  justify-content: center; */
  /* column-gap: 20px; */
}

/*if screen width is less than or equal to 767px then*/
@media (max-width: 767px) {
  .home h1 {
    font-size: 40px;
  }
  .about .content {
    flex-wrap: wrap;
  }
  .about .content .box {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .service .content {
    flex-wrap: wrap;
  }
  .service .content .box {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .slideInRight {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 20px;
  }
  .contact .content .text .info ul li {
    display: flex;
    align-items: center;
    padding: 0;
  }
  .contact .content .text .info ul {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .classes .content .class-items .item {
    flex-wrap: wrap;
  }
  .classes .content .class-items .item .item-text,
  .classes .content .class-items .item .item-img {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .schedule .content {
    flex-wrap: wrap;
  }
  .schedule .content .box {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .start-today .content {
    flex-wrap: wrap;
  }
  .start-today .content .box {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .gallery .content {
    flex-wrap: wrap;
  }
  .gallery .content .box {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .price-package .content {
    flex-wrap: wrap;
  }
  .price-package .content .box {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .contact .content {
    flex-wrap: wrap;
  }
  .contact .content .box {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

/*if screen width is less than or equal to 550px then*/
@media (max-width: 550px) {
  .home h1 {
    font-size: 30px;
  }
  .info ul {
    margin: 100px 0px;
  }
}
