@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@1,800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Archivo:wght@600&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  font-family: "Roboto", sans-serif;
}

section {
  padding: 80px 0;
}

h1 {
  font-family: "Roboto", serif;
  text-align: center;
  font-size: 3rem;
  margin: 30px 0px;
  font-weight: bolder;
  width: fit-content;
  position: relative;
}

h1::after {
  content: " ";
  display: block;
  background-color: purple;
  border-radius: 4px;
  width: 80%;
  height: 10px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.toggle-button {
  position: absolute;
  top: 1.5rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}

.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: rgb(235, 46, 109);
}

.header {
  background: #282b28;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  position: fixed;
  width: 100%;
  height: 70px;
  z-index: 10;
}

/* Add the code in comments in .header class if you need sticky header, else remove it :D
    This doesn't affect responsiveness of Header, it will be responsive and fixed for other devices as well. Checked :D
    position: fixed;
    width: 100%;
    z-index: 100; */

.logo {
  font-size: 34px;
  font-family: "Poppins", sans-serif;
  margin-left: 1rem;
}

.navbar li {
  display: inline-block;

  font-size: 18px;
  font-family: "Fira Sans", sans-serif;
  position: relative;
  padding: 30px;
  margin-bottom: 20px;
  font-size: 18px;
}
.navbar li a{
    text-decoration: none;
    color: white;
    padding: 28px;

}

.navbar a:hover {
  color: rgb(235, 46, 109);
}

.navbar a:before {
  content: "";
  display: block;
  height: 5px;
  background-color: white;
  position: relative;
  width: 0%;
  bottom: -30px;
  transition: all ease-in-out 250ms;
}

.navbar a:hover:before {
  width: 80%;
}

.btn2 {
  background-color: purple;
  border: none;
  color: white;
  padding: 12px;
  margin-right: 1rem;
  font-size: 18px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.2s ease-in;
  font-family: "Fira Sans", sans-serif;
}
.btn2:hover {
  transform: scale(1.1);
  cursor: pointer;
}
.banner {
  color: white;
  display: block;
  width: 90%;
  text-align: center;
  position: relative;
  left: -320px;
  opacity: 0;
  animation: slide_in 1.5s linear forwards;
}
@keyframes slide_in {
  0% {
    transform: translateX(0px);
    opacity: 0;
  }
  100% {
    transform: translateX(300px);
    opacity: 1;
  }
}
.subhead {
  font-size: 30px;
  font-weight: 600;
  margin-top: 10px;
}
.head {
  font-size: 55px;
  padding: 20px;
  font-family: "Abril Fatface", cursive;
  word-spacing: 10px;
}
.topic {
  display: inline-block;
  font-size: 26px;
  padding: 10px;
  font-family: "Nunito Sans", sans-serif;
}
.butns {
  background-color: transparent;
  color: white;
  font-size: 20px;
  padding: 15px;
  border: 1px white solid;
  cursor: pointer;
  margin-top: 10px;
  border-radius: 10px;
  font-family: "Archivo", sans-serif;
}
.butns:hover {
  background-color: white;
  color: black;
  font-size: 20px;
  padding: 15px;
  border: 1px black solid;
  cursor: pointer;
}
.butns_link {
  color: white;
  text-decoration: none;
}
.butns_link:hover {
  color: black;
  text-decoration: none;
}

.body {
  background: url("./images/bg.jpg") center top;
  background-repeat: no-repeat;
  height: 960px;
  margin-top: 0px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.featureclass {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.grid {
  max-width: 90%;
  display: grid;
  margin-top: 50px;
}
.grid .card {
  background: rgb(240, 239, 239);
  transition: 0.5s;
  padding: 10px 5px;

  border-radius: 5px;
}

.grid .card .img {
  height: 350px;
  width: 100%;
}

.grid .card .img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.card .content {
  padding: 15px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card:hover {
  cursor: pointer;
  transform: translateY(-2.2rem);
  box-shadow: 5px 5px purple, -1em 0 0.5em gray;
}


.body{
    /* background-color: #000; */
    background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
    /* background: url('./images/bg.jpg') center top;
    background-repeat: no-repeat; */
    height: 960px;
    margin-top: 0px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    }

.card p {
  font-weight: 600;
  padding: 15px 0;

}
/* to be deleted  */
/* .featureclass{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.scheduledclass,
.trainers {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content .title {
  font-family: "poppins";
  font-size: 24px;
  text-align: center;
}

.content .time,
.content .Certification {
  font-weight: 900;
  color: purple;
  display: block;
  text-align: center;
  margin: 10px 0;}

.grid{
    max-width: 90%;
    display: grid;
    margin-top: 50px;
} */
.grid .card2 {
  background: rgb(240, 239, 239);
  transition: 0.5s;
  padding: 5px;
  border-radius: 5px;
}

.grid .card2 .img {
  height: 350px;
  width: 100%;
}

.grid .card2 .img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
}
/* tii now  */
/* added newly  */
.card1 {
  width: 280px;
  height: 360px;
  padding: 2rem 1rem;
  background: #fff;
  position: relative;
  display: flex;
  align-items: flex-end;
  box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.5);
  transition: 0.5s ease-in-out;
}
.card1:hover {
  transform: translateY(20px);
}
.card1:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to bottom,
    rgba(0, 176, 155, 0.5),
    rgba(150, 201, 61, 1)
  );
  z-index: 2;
  transition: 0.5s all;
  opacity: 0;
}
.card1:hover::before {
  opacity: 1;
}
.card1 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}
.card1 .info {
  position: relative;
  z-index: 3;
  color: #fff;
  opacity: 0;
  transform: translateY(30px);
  transition: 0.5s all;
}
.card1:hover .info {
  opacity: 1;
  transform: translateY(0px);
}
.card1 .info h1 {
  margin: 0;
}
.card1 .info {
  letter-spacing: 1px;
  font-size: 15px;
  margin-top: 8px;
  margin-bottom: 20px;
}
.card1 .info .btn {
  text-decoration: none;
  padding: 0.5rem 1rem;
  background: #fff;
  color: #000;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.4s ease-in-out;
}
/* newly */
.featureclass {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.grid {
  max-width: 90%;
  display: grid;
  margin-top: 50px;
}
/* till now  */
.grid .card {
  background: rgb(240, 239, 239);
  transition: 0.5s;
  padding: 10px 5px;

  border-radius: 5px;
}

.topscheduledclass,
.toptrainers {
  background-color: rgb(245, 245, 245);
  width: 100%;
  display: flex;
  justify-content: center;
}

.scheduledclass img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.scheduledclass .img {
  width: 400px;
  height: 350px;
  background: black;
}

.btn {
  margin-top: 10px;
  width: fit-content;
  font-size: 18px;
  color: white;
  background: purple;
  padding: 10px 40px;
  border-radius: 8px;
  border: none;
  transition: all 0.2s ease-in;
}

.btn:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.card2:hover {
  cursor: pointer;
  transform: translateY(-2.2rem);
  box-shadow: 5px 5px purple, -1em 0 0.5em gray;
}

.card2:hover {
  cursor: pointer;
  transform: translateY(-2.2rem);
  box-shadow: 5px 5px purple, -1em 0 0.5em gray;
}

form {
  border: 2px solid #000;
  width: 280px;
  height: 471px;
  margin-left: 40%;
  border-radius: 15px;
  margin-left: 100px;
}

fieldset {
  /* Fieldset is Inside the Form */
  background-color: #fff;
  width: 276px;
  height: 468px;
  border-radius: 15px;
  outline: none;
  padding-top: 20px;
}

#register-text {
  margin-left: 30px;
  font-size: xx-large;
  font-weight: 600;
  letter-spacing: 1px;
  color: purple;
}

.user-input {
  background: transparent;
  border: none;
  border-bottom: 2px solid purple;
  height: 20px;
  width: 180px;
}

.user-input:focus {
  outline: none;
  background: transparent;
  border: none;
  border-bottom: 2px solid #000;
}

.group {
  margin-left: 30px;
}

#form-submit-button {
  outline: none;
  border: 0;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 17px;
  font-weight: 500;
  letter-spacing: 2px;
  color: #fff;
  background-color: purple;
  border-radius: 5px;
  margin-top: 6px;
  cursor: pointer;
}

label {
  font-size: 15px;
}

.scheduledclass .img {
  width: 400px;
  height: 350px;
  /* background: black; */
}

.scheduledclass .img {
  width: 400px;
  height: 350px;
  /* background: black; */
}

#name-id {
  margin-top: 28px;
}

#main-form-inside {
  margin-top: 25px;
}
.testimonial {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.topreview {
  width: 100%;
  display: flex;
  justify-content: center;
}
.container {
  padding-top: 65px;
  position: relative;
  width: 800px;
  min-width: 350px;
  min-height: 250px;
  padding-bottom: 40px;
  overflow: hidden;
}
.wrapper {
  width: 300%;
  min-height: 100%;
  display: flex;
  justify-content: space-between;
  transition: 1s;
}
.testimonial .cards {
  width: 800px;
  min-height: 100%;
  display: flex;
  background: #fff;
  padding: 20px;
  margin: 0 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
  border-radius: 20px;
  align-items: center;
  justify-content: center;
}
.card-start {
  width: 70%;
  height: 250px;
  overflow: hidden;
  position: relative;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.card-start img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: 5px solid purple;
}
.reviewer-name {
  position: absolute;
  bottom: 1px;
  left: 1px;
  padding: 5px 20px;
  background: purple;
  font-size: 14px;
  color: #fff;
}
.card-body {
  width: 120%;
  min-height: 100%;
  height: auto;
  margin-left: 20px;
  position: relative;
  padding-bottom: 50px;
}
.card-body .review {
  font-size: 17px;
  line-height: 30px;
  font-weight: 900;
  margin-top: 30px;
  font-family: "poppins";
}
.stars {
  position: absolute;
  top: 90%;
  left: 20%;
}
.checked {
  color: orange;
}
.indicators {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
.indicators button {
  background: none;
  border: none;
  outline: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 2px solid purple;
  margin-right: 5px;
  transition: 0.5s;
}
.indicators button.active {
  width: 40px;
  border-radius: 50px;
  background: purple;
}
.gallerySection {
  position: relative;
  text-align: center;
  width: 100%;
  justify-content: center;
  min-height: 100vh;
  background-color: white;
}
.gallerySection .image-container {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
  padding: 10px;
}

fieldset{ /* Fieldset is Inside the Form */
    background-color: #fff;
    width: 276px;
    height: 536px;
    border-radius: 15px;
    outline: none;
    padding-top: 20px;
    }
.gallerySection .image-container .image:hover img{
    transform: scale(1.2);
.gallerySection .heading-gallery {
  background-color: rgb(245, 245, 245);
}

.gallerySection .image-container .image {
  height: 250px;
  width: 350px;
  border: 10px solid white;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  cursor: pointer;
}

.gallerySection .image-container .image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: 0.2s linear;
}

.gallerySection .image-container .image:hover img {
  transform: scale(1.2);
}

.gallerySection .popup-img {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.755);
  height: 100%;
  width: 100%;
  z-index: 100;
  display: none;
}

.gallerySection .popup-img span {
  position: absolute;
  top: 0;
  right: 10px;
  font-size: 60px;
  font-weight: bolder;
  color: #fff;
  cursor: pointer;
  z-index: 100;
}

.gallerySection .popup-img img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 5px solid #fff;
  border-radius: 5px;
  width: 750px;
  object-fit: cover;
}

/* Faq section */
.faq_heading {
  width: 100%;
  display: flex;
  justify-content: center;
}
.wrap {
  position: relative;
  width: 100%;
  padding: 30px;
  max-width: 1200px;
  top: 25%;
  left: 50%;
  transform: translateX(-50%);
}

.accordion {
  display: block;
  position: relative;
  width: 100%;
}

.accordion__item {
  display: block;
  width: 100%;
  margin-bottom: 15px;
}
.accordion__item:last-child {
  margin-bottom: 0;
}
.accordion__title {
  display: block;
  position: relative;
  height: 40px;
  line-height: 40px;
  padding: 0px 50px 0 20px;
  font-size: 1em;
  font-weight: 800;
  color: #333;
  text-decoration: none;
  border-bottom: 2px solid #eee;
  overflow: hidden;
  transition: background-color 0.2s;
}

.accordion__title:hover {
  background-color: #d5d4d4;
}

.accordion__title.active {
  background: rgb(128, 0, 128);
  color: white;
}

footer{
    background-color: purple;
    padding-top: 50px;
    height: 617px;
    }
.accordion__title.active .x7 {
  transform: rotate(-90deg);
}

.accordion__title.active .x7 .btop {
  width: 67%;
  top: 2px;
  transform: translateY(-50%) rotate(-45deg);
  transform-origin: 50% 50%;
  background-color: white;
}
.accordion__title.active .x7 .bmid {
  opacity: 0;
}
.accordion__title.active .x7 .bbot {
  width: 67%;
  bottom: 2px;
  transform: translateY(50%) rotate(45deg);
  transform-origin: 50% 50%;
  background-color: white;
}

.accordion__content {
  display: none;
  position: relative;
  overflow: hidden;
  border: 1px solid #eee;
  border-top: none;
  line-height: 1.65;
  padding: 25px;
  background-color: #fff;
  font-size: 0.9em;
}

/* --- Icon --- */
.bmenu {
  width: 26px;
  height: 16px;
  display: block;
  position: absolute;
  right: 15px;
  top: 12px;
}

.btop,
.bmid,
.bbot {
  right: 0;
  width: 100%;
  height: 2px;
  position: absolute;
  background-color: #333;
  border-radius: 1px;
}

.btop {
  width: 40%;
}

.bmid {
  width: 60%;
}

.bbot {
  width: 80%;
}
.x7 {
  transition: transform 0.3s ease-out;
  transform-origin: 60% 75%;
}

.x7 .btop {
  top: 0;
  transition: width 0.3s, transform 0.3s, top 0s;
  transition-timing-function: ease-out;
}

.x7 .bmid {
  top: calc(50% - 1px);
  transform-origin: 100% 50%;
  transition: opacity 0.1s;
  transition-timing-function: ease-out;
}

.x7 .bbot {
  bottom: 0;
  transition: width 0.3s, transform 0.3s, bottom 0s;
  transition-timing-function: ease-out;
}

footer {
  background-color: purple;
  padding-top: 50px;
  height: 557px;
}

@media screen and (min-width: 1260px) {
  .grid {
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 15px;
  }

  .navbar li a {
    padding: 0px 34px;
  }

  .banner {
    text-align: center;
    max-width: 45%;
  }
}

@media only screen and (min-width: 960px) and (max-width: 1260px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 40px;
  }
}

@media screen and (max-width: 960px) {
  .grid {
    grid-template-columns: auto;
    grid-template-rows: repeat(1fr, 4);
    grid-gap: 40px;
  }
  .body{
    background-size: 100% 100%;
    height: 907px;
  }
  
}

@media screen and (max-width: 690px) {
  .btn2 {
    display: none;
  }
  .body {
    background-size: 77vh 99vh;
}

  .toggle-button {
    display: flex;
  }

  .subhead {
    margin-top: 70px;
    font-size: 30px;
  }
  .head {
    font-size: 40px;
  }
  .header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .topic {
    font-size: 15px;
  }

  .logo {
    align-self: flex-start;
  }

  .navbar {
    display: none;
    margin-top: 30px;
    width: 100%;
  }

  .navbar li {
    padding: 16px 0;
    background: rgb(24, 24, 24);
    width: 100%;
  }

  .navbar ul {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .navbar.active {
    display: flex;
  }

  h1 {
    font-size: 35px;
  }
}

@media screen and (max-width: 768px) {
    .gallerySection .popup-img img{
        width: 95%;
    }
    
}

@media  screen and (max-width: 690px) {
    .btn2 {
        display: none;
    }
    .h{
        margin-top: 150vh;
    }

    .toggle-button {
        display: flex;
    }
    
    .subhead{
        margin-top: 70px;
        font-size: 30px;
    }
    .head{
        font-size: 40px;
    }
    .header{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
    }
    .topic{
        font-size: 15px;
    }

    .logo {
        align-self: flex-start;
    }

    .navbar {
        display: none;
        margin-top: 30px;
        width: 100%;
        padding-bottom: 10px;
    }

    .navbar li{
        padding: 20px;
        background: rgb(24, 24, 24);
        width: 100%;
        margin-bottom: 0px;
        top: -30px;
    }


    .navbar ul {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .navbar.active {
        display: flex;
    }

    h1 {
        font-size: 35px;
    }
}
.social{
    display: flex;
    justify-content: right;
    align-items: right;
    flex-wrap: wrap;
}
.social a img{
    height: 100px;
    padding: 21px;
    
}
.carousel-inner .carousel-item .d-block{
    height: 100vh;
}
.carousel-inner .carousel-item h5{
    font-size: 61px;
}

@media(max-width:800px){
    .testimonial{
    height: 175vh;
    }
    .container{
        width: 50%;
        margin:auto ;
    }
    .cards{
        flex-direction: column;
    }
    .card-start{
        width: 100%;
        border-radius: 10px;
    }
    .card-body{
        width: 100%;
        min-height: auto;
        margin-left: 0;
    }
}
/* newly */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container{
  width: 100%;
  height: 100vh;
  /* background: #2b2b2b; */
  display: flex;
  align-items: center;
  justify-content: center;

}
.card3{
  width: 380px;
  perspective: 1000px;
  cursor: pointer;
}
.card-inner{
  position: relative;
  width: 100%;
  text-align: center;
  transform-style: preserve-3d;
  transition:  transform 1s;

}
.front-face{
  backface-visibility: hidden;

}
.front-face img{
  width: 100%;
  border-radius: 10px;

}
.back-face{
  backface-visibility: hidden;
  background-color: #c62600;
  color: white;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  transform: rotateY(180deg);

}

.back-face h2{
  margin-bottom: 20px;
  margin-top: 10px;
  font-size: 25px;
  font-weight: 600;
}
.back-face p{
  font-size: 17px;
  font-weight: 300;
}
.card3:hover .card-inner{
transform: rotateY(-180deg);
}


