.left{
    display: inline-block;
    position: absolute;
    left: 34px;
    top: 20px;
    color: white;
}
.center{
    display: block;
    width: 33%;
    margin: 20px auto;
    color: white;
}
.right{
    display: inline-block;
    position: absolute;
    right: 34px;
    top: 20px;
    color: white;
}
.navbar{
    display: inline-block;
    
}
.navbar li{
    display: inline-block;
    font-size: 20px;
    
    
}
.navbar li a{
    text-decoration: none;
    color: white;
    padding: 34px;
}
