.left{
    display: inline-block;
    position: absolute;
    left: 34px;
    top: 20px;
    color: white;
    font-size: 25px;
}
.center{
    display: block;
    width: 33%;
    margin: 20px auto;
    color: white;
}
.right{
    display: inline-block;
    position: absolute;
    right: 34px;
    top: 20px;
    color: white;
}
.navbar{
    display: inline-block;
    
}
.navbar li{
    display: inline-block;
    font-size: 20px;
    
    
}
.navbar li a{
    text-decoration: none;
    color: white;
    padding: 34px;
}

.btn{
    background-color: purple;
    color: white;
    padding: 12px;
    font-size: 20px;
    border-radius: 5px;
    cursor: pointer;
}
.btn:hover{
    background-color: white;
    color: purple;
    padding: 12px;
    font-size: 20px;
    border-radius: 5px;
    cursor: pointer;
}
.banner{
    color: white;
    display: block;
    width: 33%;
    text-align: center;
    margin: 250px auto;
    padding: 20px;
    height: 100vh;
}
.head{
    font-size: 50px;
    padding: 20px;
}
.topic{
    display: inline-block;
    font-size: 24px;
    padding: 10px ;
}
.butns{
    background-color: transparent;
    color: white;
    font-size: 20px;
    padding: 15px;
    border: 1px white solid;
    cursor: pointer;
    margin-top: 10px;
}
.butns:hover{
    background-color: white;
    color: black;
    font-size: 20px;
    padding: 15px;
    border: 1px black solid;
    cursor: pointer;
}

.body{
    background: url('./images/bg.jpg');
    height: 930px;
    margin-top: 0px;
    padding: 10px;
}
.Feature{
    text-align: center;
    font-size: 40px;
    padding-top: 100px;
    font-weight: bold;
}
hr{
    color: red;
    width: 10%;
    text-align: center;
    border: red 1px solid;
    border-radius: 2px;
    margin-top: 2%;
}

.topfeatureclass{
    font-family: 'Roboto Slab', serif;
    text-align: center;
    font-size: 4rem;
    padding: 2%;
    font-weight: bolder;
}
.slider{
    max-width: 90%;
    display: flex;
}
.slider .card{
    background: rgb(255, 255, 255);
    flex: 1;
    margin: 50px 20px;
    transition: 0.5s;

}

.slider .card .img{
    height: 500px;
    width: 100%;
    
}

.slider .card .img img{
    height: 100%;
    width: 100%;
    object-fit: cover ;
}

.slider .card:hover{
    transform: scale(1.15);
}

.card .content .title{
    padding: 2%;
    font-size: 30px;
    font-weight: 200;
    text-align: center;
}

.cardwhole{
    display: grid;
    height: 100%;
    place-items: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
}

.featureclass{
    height: 80vh;
}

.topscheduledclass{
    margin-top: 150px;
    background-color: red;
    text-align: center;
    font-family: 'Roboto Slab', serif;
    font-size: 4rem;
    padding: 2%;
    font-weight: bolder;
}