@import url("https://fonts.googleapis.com/css2?family=Vollkorn:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Vidaloka&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sora:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gantari:wght@300&display=swap");

* {
  padding: 0;
  margin: 0;
}

.signin_container {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 1)),
    url("./images/conquer.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  height: 100vh;
}
.sign_in_container {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.4));
  height: 80vh;
  width: 450px;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 5px solid rgb(86, 84, 84);
  border-radius: 10px;
  position: relative;
  animation: sign_in_container 3s linear;
}
@keyframes sign_in_container {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.join_in_header {
  color: white;
  font-family: "Vollkorn", serif;
  font-size: 40px;
  width: fit-content;
  position: relative;
  left: 32%;
  top: 1%;
}
.email_input {
  width: 375px;
  height: 40px;
  padding: 5px;
  position: relative;
  top: 8%;
  left: 7%;
  border-radius: 10px;
  font-size: 15px;
  border: 2px solid gray;
}
.email_input::placeholder {
  font-family: "Vidaloka", serif;
}
.pwd_input {
  width: 375px;
  height: 40px;
  padding: 5px;
  position: relative;
  top: 15%;
  left: 7%;
  border-radius: 10px;
  font-size: 15px;
  border: 2px solid gray;
}
.pwd_input::placeholder {
  font-family: "Vidaloka", serif;
}
.register_btn {
  padding: 7px;
  font-size: 15px;
  font-family: "Sora", sans-serif;
  position: relative;
  top: 28%;
  left: 7%;
  width: 375px;
  border-radius: 7px;
  cursor: pointer;
  border: 2px solid gray;
}
.register_btn:hover {
  transform: translate(1%, -2%);
  box-shadow: 2px 3px 1px rgb(95, 95, 95);
  border: 2px solid gray;
}
.or_line {
  color: white;
  font-family: "Gantari", sans-serif;
  position: relative;
  top: 32%;
  left: 47%;
}
.register_btn1 {
  padding: 7px;
  font-size: 15px;
  font-family: "Sora", sans-serif;
  position: relative;
  top: 36%;
  left: 7%;
  width: 375px;
  border-radius: 7px;
  cursor: pointer;
  border: 2px solid gray;
}
.register_btn1:hover {
  transform: translate(1%, -2%);
  box-shadow: 2px 3px 1px rgb(95, 95, 95);
  border: 2px solid gray;
}
.container_another_mode {
  position: relative;
  height: 10vh;
  width: 375px;
  background-color: white;
  top: 41%;
  left: 7%;
  display: flex;
  justify-content: center;
  border-radius: 10px;
  border: 2px solid gray;
}
.google_des {
  font-size: 40px;
  padding: 20px 10px 10px 10px;
}
.facebook_des {
  font-size: 40px;
  padding: 10px 10px 10px 50px;
}
.apple_des {
  font-size: 40px;
}
.another_mode_logo {
  color: black;
}
