<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Fitnezz | Join In</title>
    <link rel="shortcut icon" href="./images/favicon.ico" type="image/x-icon" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css"
    />
    <link rel="stylesheet" href="join.css" />
    <link rel="stylesheet" href="home.css" />
  </head>
  <body>
    <header class="header">
      <div class="logo">Fitne<span style="color: purple">zz</span></div>
      <a href="#" class="toggle-button">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
      </a>
      <div class="navbar">
        <ul>
          <li><a href="">Home</a></li>
          <li><a href="">About</a></li>
          <li><a href="">News</a></li>
          <li><a href="">Contact</a></li>
        </ul>
      </div>

      <div class="button">
        <button class="btn2 grow">Become a member</button>
      </div>
    </header>

    <section class="signin_container">
      <div class="sign_in_container">
        <h2 class="join_in_header">JOIN IN</h2>

        <label for=""></label>
        <input
          type="email"
          name="email_id"
          id="#email_id"
          placeholder="EMAIL ID"
          class="email_input"
        />

        <label for=""></label>
        <input
          type="password"
          name="password"
          id="#pwd"
          placeholder="PASSWORD"
          class="pwd_input"
        />

        <button class="register_btn">REGISTER</button>
        <h3 class="or_line">OR</h3>
        <button class="register_btn1">LOG IN</button>

        <div class="container_another_mode">
          <a href="#" class="another_mode_logo"
            ><i class="bi bi-google google_des"></i
          ></a>
          <a href="#" class="another_mode_logo"
            ><i class="bi bi-facebook facebook_des"></i
          ></a>
          <a href="#" class="another_mode_logo"
            ><i class="bi bi-browser-safari"></i
          ></a>
        </div>
      </div>
    </section>
    <script src="script.js"></script>
  </body>
</html>
